# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuraciones de editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Credenciales de Firebase
firebase_credentials.json
firebase_credential.json
google-services.json

# Scripts temporales de migracion y chequeo
sync_db.sh
check_dev_db.sh
