# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuraciones de editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Credenciales de Firebase
firebase_credentials.json
firebase_credential.json

